.popup__input-container {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0;
  width: 100%;
  border: 0;
  padding: 0;
}

@media screen and (max-height: 320px) and (max-width: 576px) {
  .popup__input-container {
    margin: 20px 0 15px;
  }
}
