.profile__add-button {
  box-sizing: border-box;
  display: flex;
  width: 150px;
  height: 50px;
  margin-top: 35px;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  outline: none;
  background: transparent;
  cursor: pointer;
  grid-area: profile__add-button;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 740px) {
  .profile__add-button {
    width: 282px;
    margin: 30px auto 0;
  }
}

@media (max-width: 680px) {
  .profile__add-button {
    margin: 15px auto 0;
  }
}
